body {
  margin: 0;
  font-family: -apple-system,  'Anton', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Anton', 'Circular', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1 {
    background-color: 209, 166, 165;

}

.header {
  background-color: 209, 166, 165;
}

/* @import '~mdb-ui-kit/css/mdb.min.css'; */
